In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Determine the number of unique values in each column.
unique_values = application_df.nunique()
print(unique_values)

EIN                       34299
NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [3]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
value_counts = application_df['APPLICATION_TYPE'].value_counts()
print(value_counts)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [4]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = value_counts[value_counts < 1000].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: count, dtype: int64

In [5]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [6]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_count_filtered = classification_counts[classification_counts > 1]
print(classification_count_filtered)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [7]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = classification_counts[classification_counts < 1000].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [8]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df

,EIN,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,10520599,1,5000,1,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,10531628,1,108590,1,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,10547893,1,5000,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,10553066,1,6692,1,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,10556103,1,142590,1,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,1,5000,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34295,996010315,1,5000,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34296,996012607,1,5000,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34297,996015768,1,5000,1,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34298,996086871,1,36500179,0,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,True,False

In [11]:
# Split our preprocessed data into our features and target arrays
application_df = application_df.sample(frac=0.5, random_state=42)
X = application_df.drop(columns=['IS_SUCCESSFUL', 'STATUS', 'EIN']).values
y = application_df['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
model = tf.keras.models.Sequential()
model.add(tf.keras.layers.Dense(units=64, activation='relu', input_dim=X_train_scaled.shape[1]))

# First hidden layer
model.add(tf.keras.layers.Dense(units=128, activation='relu'))

# Second hidden layer
model.add(tf.keras.layers.Dense(units=64, activation='relu'))

# Third hidden layer (added)
model.add(tf.keras.layers.Dense(units=32, activation='relu'))

# Output layer
model.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
model.summary()

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

 Layer (type)                          Output Shape                         Param #

 dense (Dense)                         (None, 64)                         1,254,912

 dense_1 (Dense)                       (None, 128)                            8,320

 dense_2 (Dense)                       (None, 64)                             8,256

 dense_3 (Dense)                       (None, 32)                             2,080

 dense_4 (Dense)                       (None, 1)                                 33

 Total params: 1,273,601 (4.86 MB)

 Trainable params: 1,273,601 (4.86 MB)

 Non-trainable params: 0 (0.00 B)

In [14]:
# Compile the model
optimizer = tf.keras.optimizers.Adam(learning_rate=0.001)
model.compile(optimizer=optimizer, loss='binary_crossentropy', metrics=['accuracy'])

In [15]:
# Train the model
fit_model= model.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
201/201  7s 23ms/step - accuracy: 0.6674 - loss: 0.5888
Epoch 2/50
201/201  4s 18ms/step - accuracy: 0.9408 - loss: 0.1760
Epoch 3/50
201/201  5s 17ms/step - accuracy: 0.9582 - loss: 0.1033
Epoch 4/50
201/201  7s 25ms/step - accuracy: 0.9660 - loss: 0.0895
Epoch 5/50
201/201  4s 18ms/step - accuracy: 0.9701 - loss: 0.0750
Epoch 6/50
201/201  5s 17ms/step - accuracy: 0.9664 - loss: 0.0800
Epoch 7/50
201/201  5s 18ms/step - accuracy: 0.9666 - loss: 0.0795
Epoch 8/50
201/201  3s 17ms/step - accuracy: 0.9656 - loss: 0.0809
Epoch 9/50
201/201  5s 17ms/step - accuracy: 0.9686 - loss: 0.0800
Epoch 10/50
201/201  5s 23ms/step - accuracy: 0.9672 - loss: 0.0801
Epoch 11/50
201/201  4s 18ms/step - accuracy: 0.9654 - loss: 0.0868
Epoch 12/50
201/201  4s 18ms/step - accuracy: 0.9686 - loss: 0.0790
Epoch 13/50
201/201  5s 26ms/step - accuracy: 0.9653 - loss: 0.0828
Epoch 14/50
201/201  9s 20ms/step - accuracy: 0.9670 - loss: 0.0768
Epoch 15/50
201/201  5s 26ms/step - accuracy: 0.9692 - loss: 0.0720
Epoch 16/50
201/201  4s 19ms/step - accuracy: 0.9711 - loss: 0.0706
Epoch 17/50
201/201  5s 18ms/step - accuracy: 0.9644 - loss: 0.0806
Epoch 18/50
201/201  6s 21ms/step - accuracy: 0.9682 - loss: 0.0748
Epoch 19/50
201/201  4s 18ms/step - accuracy: 0.9692 - loss: 0.0762
Epoch 20/50
201/201  4s 17ms/step - accuracy: 0.9701 - loss: 0.0762
Epoch 21/50
201/201  4s 22ms/step - accuracy: 0.9705 - loss: 0.0727
Epoch 22/50
201/201  4s 21ms/step - accuracy: 0.9712 - loss: 0.0725
Epoch 23/50
201/201  4s 19ms/step - accuracy: 0.9653 - loss: 0.0772
Epoch 24/50
201/201  6s 21ms/step - accuracy: 0.9693 - loss: 0.0747
Epoch 25/50
201/201  3s 16ms/step - accuracy: 0.9700 - loss: 0.0734
Epoch 26/50
201/201  3s 15ms/step - accuracy: 0.9701 - loss: 0.0716
Epoch 27/50
201/201  3s 15ms/step - accuracy: 0.9673 - loss: 0.0714
Epoch 28/50
201/201  4s 21ms/step - accuracy: 0.9700 - loss: 0.0741
Epoch 29/50
201/201  3s 16ms/step - accuracy: 0.9701 - loss: 0.0722
Epoch 30/50
201/201  5s 16ms/step - accuracy: 0.9726 - loss: 0.0689
Epoch 31/50
201/201  4s 19ms/step - accuracy: 0.9685 - loss: 0.0740
Epoch 32/50
201/201  4s 16ms/step - accuracy: 0.9728 - loss: 0.0698
Epoch 33/50
201/201  5s 16ms/step - accuracy: 0.9699 - loss: 0.0731
Epoch 34/50
201/201  6s 20ms/step - accuracy: 0.9695 - loss: 0.0703
Epoch 35/50
201/201  3s 15ms/step - accuracy: 0.9718 - loss: 0.0678
Epoch 36/50
201/201  3s 17ms/step - accuracy: 0.9690 - loss: 0.0706
Epoch 37/50
201/201  3s 17ms/step - accuracy: 0.9724 - loss: 0.0689
Epoch 38/50
201/201  5s 16ms/step - accuracy: 0.9712 - loss: 0.0707
Epoch 39/50
201/201  5s 16ms/step - accuracy: 0.9673 - loss: 0.0752
Epoch 40/50
201/201  4s 22ms/step - accuracy: 0.9718 - loss: 0.0672
Epoch 41/50
201/201  4s 17ms/step - accuracy: 0.9712 - loss: 0.0710
Epoch 42/50
201/201  5s 15ms/step - accuracy: 0.9695 - loss: 0.0746
Epoch 43/50
201/201  6s 20ms/step - accuracy: 0.9720 - loss: 0.0661
Epoch 44/50
201/201  4s 16ms/step - accuracy: 0.9729 - loss: 0.0659
Epoch 45/50
201/201  5s 17ms/step - accuracy: 0.9682 - loss: 0.0737
Epoch 46/50
201/201  5s 17ms/step - accuracy: 0.9716 - loss: 0.0676
Epoch 47/50
201/201  5s 17ms/step - accuracy: 0.9713 - loss: 0.0690
Epoch 48/50
201/201  5s 23ms/step - accuracy: 0.9719 - loss: 0.0715
Epoch 49/50
201/201  3s 16ms/step - accuracy: 0.9702 - loss: 0.0722
Epoch 50/50
201/201  6s 19ms/step - accuracy: 0.9745 - loss: 0.0667

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

67/67 - 0s - 6ms/step - accuracy: 0.7201 - loss: 0.6516
Loss: 0.6515534520149231, Accuracy: 0.7201492786407471

In [18]:
# Export our model to HDF5 file
model.save('AlphabetSoupCharity_Optimization.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.